<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3"  >
              <h3>Work from Home Risk Assessment</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group" *ngFor="let questionBank of questionBank;let i=index;"><br>
                      {{questionBank.components[1].value}}<br>
                      <label  class="checkbox-inline">{{questionBank.components[2].value}}</label>
                        <input type="radio" id="radio{{i}}" name="firstName{{i}}" formControlName="firstName{{i}}" value={{questionBank.components[2].id}} class="form-control" />
                      
                      <label  class="checkbox-inline">{{questionBank.components[3].value}}</label>
                          <input type="radio" id="radio{{i}}"    name="firstName{{i}}" formControlName="firstName{{i}}" value={{questionBank.components[3].id}}  class="form-control"/>
                        
                      
                      <!-- <div  class="invalid-feedback">
                          <div *ngIf="submitted  && f.firstName{{i}}.errors.required">enter feedback</div>
                      </div> -->
                  </div><br>
                  <div class="form-group" style="margin-left: 50px">
                      <button class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>